<div class="container mt-4">
  <h2 class="mb-4">Liste des Produits</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">ID : {{ product.id }}</h6>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">
            <strong>Prix : {{ product.price }}</strong>
          </p>
        </div>
        <div class="card-footer d-flex gap-3">
          <button class="btn btn-primary me-2 w-100" (click)="editProduct(product.id)">Modifier</button>
          <button
            class="btn btn-danger w-100"
            (click)="confirmDeleteProduct(product.id)"
            data-bs-toggle="modal"
            data-bs-target="#deleteConfirmationModal"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div
  class="modal fade"
  id="deleteConfirmationModal"
  tabindex="-1"
  aria-labelledby="deleteConfirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">
          Confirmer la suppression
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cancelDelete()"
        ></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce produit ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cancelDelete()"
        >
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="handleDeleteProduct()"
          data-bs-dismiss="modal"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>